.formkit-outer {
  @apply mb-5;
}
.formkit-label {
  @apply block mb-2 font-medium text-gray-400;
}
.formkit-inner,
.formkit-input[type="submit"] {
  @apply flex items-center min-h-11 border rounded-lg  w-full py-2 px-3  text-gray-800 placeholder-gray-400 outline-none transition ring-3 ring-transparent focus-within:ring-gray-300;
}
.formkit-input {
  @apply w-full  placeholder-gray-400 outline-none  disabled:opacity-50;
}
.formkit-input[type="submit"] {
  @apply bg-gray-900 text-white font-medium max-w-md relative inline-flex justify-center items-center;
}
.formkit-help {
  @apply text-xs text-gray-500;
}
.formkit-messages {
  @apply list-none p-0 mt-1 mb-0;
}
.formkit-message {
  @apply text-red-500 mb-1 text-xs;
}

.btn-loader[data-loading="true"]::before,
[data-loading] [data-type="submit"] .formkit-input::before {
  -webkit-animation: rotate 0.5s linear infinite;
  animation: rotate 0.5s linear infinite;
  width: 1rem;
  border: 0.1428571429em solid #fff;
  border-right-color: transparent;
  margin-right: 0.75em;
}

.btn-loader::before,
[data-type="submit"] .formkit-input::before {
  box-sizing: border-box;
  content: "";
  width: 0;
  margin-right: 0;
  height: 1rem;
  border: 0 solid transparent;
  border-radius: 1rem;
  transition: width 0.25s, border 0.25s, margin-right 0.25s;
}

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
