.circle-panel {
  @apply rounded-full border-3 border-transparent w-12 h-12 flex justify-center items-center text-gray-800 hover:text-gray-400 transition duration-500;
}
.router-link-exact-active.circle-panel,
.circle-panel-active {
  @apply border-gray-200 !text-gray-400;
}

.panel {
  @apply flex items-center px-3 py-1.5 font-medium rounded-lg bg-transparent text-gray-800 hover:text-gray-400 transition duration-500;
}
.router-link-active.panel {
  @apply bg-gray-100 !text-gray-400;
}
.btn {
  @apply border rounded-lg w-full py-2 px-3  text-gray-800  outline-none transition ring-3 ring-transparent focus:ring-gray-300 disabled:opacity-50 bg-gray-900 text-white relative inline-flex justify-center items-center;
}
