body {
  @apply text-gray-800;
}

.circle-panel {
  @apply rounded-full border-3 border-transparent w-12 h-12 flex justify-center items-center text-gray-800 hover:text-gray-400 transition duration-500;
}
.router-link-exact-active.circle-panel,
.circle-panel-active {
  @apply border-gray-200 !text-gray-400;
}

.panel {
  @apply flex items-center px-3 py-1.5 font-medium rounded-lg bg-transparent text-gray-800 hover:text-gray-400 transition duration-500;
}
.router-link-active.panel {
  @apply bg-gray-100 !text-gray-400;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active .inner,
.fade-leave-active .inner {
  transition: all 0.3s ease-in-out;
}

.fade-enter-from .inner,
.fade-leave-to .inner {
  opacity: 0;
  transform: scale(0);
}
